@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="layout">
        <!-- Sidebar -->
        <aside class="sidebar-container">
            <div class="logo-section">
                <span class="logo">Sistema de Inventario</span>
                @{
                    var controller = ViewContext.RouteData.Values["controller"] as string;
                    var action = ViewContext.RouteData.Values["action"] as string;
                }
                <ul class="menu">
                    @if (User.IsInRole("Empleado"))
                    {
                        <li>
                            <a class="menu-item @(controller == "Producto" && action == "Index" ? "active" : "")" asp-controller="Producto" asp-action="Index">Productos</a>
                        </li>
                        <li>
                            <a class="menu-item @(controller == "Movimiento" && action == "Index" ? "active" : "")" asp-controller="Movimiento" asp-action="Index">Movimiento Inventario</a>
                        </li>
                        <li>
                            <a class="menu-item @(controller == "Reporte" && action == "Stock" ? "active" : "")" asp-controller="Reporte" asp-action="Stock">Reportes</a>
                        </li>
                        <li>
                            <a class="menu-item @(controller == "Notification" && action == "Index" ? "active" : "")" asp-controller="Notification" asp-action="Index">Notificaciones</a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a class="menu-item @(controller == "Usuario" && action == "Index" ? "active" : "")" asp-controller="Usuario" asp-action="Index">Usuarios</a>
                        </li>
                        <li>
                            <a class="menu-item @(controller == "Usuario" && action == "Create" ? "active" : "")" asp-controller="Usuario" asp-action="Create">Nuevo Usuario</a>
                        </li>
                    }
                </ul>


            </div>

            <div class="user-section">
                <a href="#" class="user-profile">
                    <img src="https://robohash.org/user-profile"
                         alt="User"
                         class="profile-picture" />
                    <div>
                        @if (User.Identity!.IsAuthenticated) 
                        {
                            <p class="user-info">
                                <strong class="user-name">@User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c=>c.Value).SingleOrDefault()</strong>
                                <span class="user-email">@User.Claims.Where(c => c.Type == ClaimTypes.Email).Select(c => c.Value).SingleOrDefault()</span>
                            </p>
                        }
                    </div>
                </a>
            </div>
        </aside>

        <div class="box-content">
            <header class="header">
                <div class="header-container">
                    <div class="icon-container">
                    @if (User.IsInRole("Empleado")) {
                        <a class="icon alert-icon" asp-controller="Notification" asp-action="AlertStock">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6" />
                                <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                            </svg>
                        </a>
                     }
                        <a class="icon logout-icon" asp-controller="Acceso" asp-action="Exit"> 
                            <span> Salir </span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                                <path d="M9 12h12l-3 -3" />
                                <path d="M18 15l3 -3" />
                            </svg>
                        </a>
                    </div>
                </div>
            </header>

            <!-- Main Content -->
            <section class="main-conten">
                <main role="main">
                    @RenderBody()
                </main>
            </section>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
